<h1>Result</h1>

<%= @letters.split.join('') %>

<br>
<%= @user_letters %>

<%= ['t','o', 't', 'o', 'v', 'i', 'w', 'r', 'r', 'w'].count(2)%>





<!-- The word can't be built out of the original grid
# The word is valid according to the grid, but is not a valid English word
# The word is valid according to the grid and is an English word -->


