// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.letters {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.letters > h3 {
  font-weight: bold;
  border-radius: 8px;
  background-color: #4b76bc;
  color: white;
  width: 64px;
  line-height: 64px;
  padding: 16px;
  margin: 16px;
  text-align: center;
  border: 3px solid #ffe9a8;
}

.letter {
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.score-form {
  border-radius: 8px;
  padding: 16px 16px;
  width: 75%;
  margin-right: 8px;
}

.score-btn {
  border-radius: 8px;
  padding: 8px 16px;
}
